.3_50 { 
	overflow:hidden;
}
.e3_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:784px;
	height:627px;
	position:absolute;
}
.e1_2 { 
	width:763px;
	height:607px;
	position:absolute;
	left:10px;
	top:12px;
	background-image:url(../images/capivara2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_22 { 
	width:130px;
	height:92px;
	position:absolute;
	left:600px;
	top:161px;
	background-image:url(../images/kapy3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_27 { 
	width:131px;
	height:87px;
	position:absolute;
	left:317px;
	top:166px;
	background-image:url(../images/kapy4_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_31 { 
	width:131px;
	height:87px;
	position:absolute;
	left:51px;
	top:393px;
	background-image:url(../images/kapy5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_34 { 
	width:131px;
	height:87px;
	position:absolute;
	left:601px;
	top:393px;
	background-image:url(../images/kapy5_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_49 { 
	width:131px;
	height:87px;
	position:absolute;
	left:601px;
	top:393px;
	background-image:url(../images/kapy_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e1_29 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:15px;
	position:absolute;
	left:62px;
	top:368px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_36 { 
	color:rgba(0, 0, 0, 1);
	width:106px;
	height:15px;
	position:absolute;
	left:62px;
	top:368px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_35 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:15px;
	position:absolute;
	left:616px;
	top:368px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_17 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:15px;
	position:absolute;
	left:76px;
	top:143px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:13px;
	position:absolute;
	left:76px;
	top:144px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_25 { 
	width:144px;
	height:13px;
	position:absolute;
	left:313px;
	top:149px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;

	background-repeat:no-repeat;
	background-size:cover;
}
.e1_26 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:15px;
	position:absolute;
	left:312px;
	top:149px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e2_38 { 
	color:rgba(0, 0, 0, 1);
	width:102px;
	height:15px;
	position:absolute;
	left:617px;
	top:368px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_20 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:15px;
	position:absolute;
	left:612px;
	top:143px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_21 { 
	color:rgba(0, 0, 0, 1);
	width:110px;
	height:14px;
	position:absolute;
	left:612px;
	top:143px;
	font-family:Great Vibes;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e1_3 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(0, 0, 0, 1);
	width:442px;
	height:99px;
	position:absolute;
	left:297px;
	top:29px;
	font-family:Gideon Roman;
	text-align:left;
	font-size:64px;
	letter-spacing:0;
}
.e1_16 { 
	width:130px;
	height:97px;
	position:absolute;
	left:51px;
	top:161px;
	background-image:url(../images/kapy2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
