<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gideon+Roman&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="css/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body>
            <div class=e3_50><div  class="e1_2"></div><div  class="e1_22"></div><div  class="e1_27"></div><div  class="e2_31"></div><div  class="e2_34"></div><div  class="e2_49"></div><span  class="e1_29">Статус популяции</span><span  class="e2_36">Статус популяции</span><span  class="e2_35">Одомашнивание</span><span  class="e1_17">Внешний вид</span><span  class="e1_15">Внешний вид</span><span  class="e1_25">Образ жизни и питание</span><span  class="e1_26">Образ жизни и питание</span><span  class="e2_38">Одомашнивание</span><span  class="e1_20">Распространение</span><span  class="e1_21">Распространение</span><span  class="e1_3">Мир Капибар</span><div  class="e1_16"></div></div>
          </body>
          </html>